<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Skills</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <h2>User Skills</h2>

        <div th:if="${apiRespondedCorrectly} == false">
            <div class="alert alert-danger">
                There was an error (external API might not respond).
            </div>
        </div>
        <table th:if="${apiRespondedCorrectly} == true" class="table table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>skillName</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="skill : ${userSkills}">
                <td th:text="${skill.id}">1</td>
                <td th:text="${skill.skillName}">Name</td>
            </tr>
            </tbody>
        </table>

        <div th:if="${apiRespondedCorrectly} == true" class="container">
            <a th:href="@{/addUserSkill}" class="btn btn-primary" role="button">Add New Skill</a>
        </div>

        <div th:if="${apiRespondedCorrectly} == false" class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                    <a th:href="@{/}" class="btn btn-primary" role="button"><i
                            class="glyphicon glyphicon-triangle-left"></i> Back To Home page</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->


<div th:replace="fragments/footer :: footer"/>

</body>
</html>